*~
**/_*.json
**/_*.txt
*.pyc
\#*\#
tests/bindings/python/ice40_test.json
GPATH
GTAGS
GRTAGS
.#*

# Simulator unit test files
tests/unit/*.o
tests/unit/a.out
tests/unit/gencode

tests/simulator/*.o
tests/simulator/a.out
tests/simulator/gencode/*.c
tests/simulator/gencode/*.cpp
tests/simulator/gencode/*.h

tests/simulator/obj_dir/
tests/simulator/*.json
tests/simulator/*.v

a.out

.DS_Store
bindings/
mops.v
test.v
tests/.DS_Store
tests/simulator/.DS_Store
tests/simulator/gencode/*.o

# Test utilities
revert_interp_only.sh
revert_stress_only.sh
interp_tests_only.sh
stress_only.sh

revert_sequential_only.sh
sequential_tests_only.sh

DesignTop_sim.cpp
DesignTop_sim.h
bit_vector.h

a.out.dSYM/

conv_3_1.o
