*~
**/_*.json
*.pyc
\#*\#
tests/bindings/python/ice40_test.json

# Simulator unit test files
tests/unit/*.o
tests/unit/a.out
tests/unit/gencode

tests/simulator/*.o
tests/simulator/a.out
tests/simulator/gencode/*.c
tests/simulator/gencode/*.cpp
tests/simulator/gencode/*.h

tests/simulator/obj_dir/
tests/simulator/*.json
tests/simulator/*.v

a.out

.DS_Store
bindings/
mops.v
test.v
tests/.DS_Store
tests/simulator/.DS_Store