dist: trusty
language: c
sudo: false

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
      - g++-4.9

before_install:
  - export COREIRCONFIG="g++-4.9";
  - export LD_LIBRARY_PATH=`pwd`/lib:$LD_LIBRARY_PATH
  - sudo make -j 2 install
  - pip install --user pytest
  - pip install --user -e bindings/python

script:
  - make test
  - sudo make installtest
  - pytest -s  # Test python bindings

compiler:
  - gcc

os:
  - linux
